mixin timelineItem(title, company, location, from, to)
  .timeline-item
    h3= title
    span
      if to
        | #{from} to #{to}
      else
        | since #{from}
      if company
        |  at #{company}
      if location
        |  (#{location})
    if block
      .timeline-item-body
        block

mixin skillList(...skills)
  ul.skill-list
    each skill in skills
      li= skill

mixin languageListItem(countryCode, language, level)
  - imagePath = `./images/flag-${countryCode}.svg`;

  li.language-list-item
    .language-list-item-flag
      img(src=imagePath)
    = language
    span= level

mixin iconListItem(iconName)
  li.icon-list-item
    i(data-feather=iconName)
    block

