mixin timeline(entries)
  each e in entries
    .timeline-item
      .timeline-item-image
        img(src=`./images/${e.company.toLowerCase()}.webp` alt=`${e.company}'s logo`)
      .timeline-item-content
        .timeline-item-header
          h3= e.company
          span= e.title
          span
            if e.to
              | From #{e.from} to #{e.to}
            else
              | Since #{e.from}
            |  in #{e.location}
            small= e.locationType
        .timeline-item-body
          p= e.description
        .timeline-item-footer
          a(
            href=e.url
            title=`Visit ${e.company}'s website`
          )
            span(data-feather='link')
            = new URL(e.url).hostname.replace('www.', '')

mixin iconList(entries)
  each e in entries
    li.icon-list-item
      span(data-feather=e.icon)
      if e.href
        a(href=e.href)= e.text
      else
        = e.text

mixin languageList(languages)
  ul.language-list
    each l in languages
      li
        .language-list-name
          img(src=`./images/${l.name.toLowerCase()}.webp`)
          = l.name
        span.language-list-proficiency= l.proficiency

mixin educationList(entries)
  ul.education-list
    each e in entries
      li
        = e.diploma
        span= e.details
